Repository johnsonandjohnson/Bodiless-JS, pull requests merged in 2020-07, with the labels that each got.

#395 feat(gatsby-theme-bodiless): Refresh on pull that has upstream changes
  packages/bodiless-core/src/contextMenuForm.tsx
  packages/gatsby-theme-bodiless/__tests__/remote-changes.test.tsx
  packages/gatsby-theme-bodiless/src/dist/GitProvider.tsx
  packages/gatsby-theme-bodiless/src/dist/RemoteChanges.tsx
Labels: enhancement

#414 feat(documentation): Document API documentation standards for JSDoc
  packages/bodiless-documentation/doc/Development/ApiDocumentationStandards.md
Labels: documentation

#455 fix(test-site): Reusable Logo
  examples/test-site/src/components/Layout/footer.tsx
  examples/test-site/src/components/Layout/header.tsx
  examples/test-site/src/components/Layout/index.tsx
  examples/test-site/src/components/Layout/logo.tsx
  examples/test-site/src/components/Layout/token.ts
  examples/test-site/src/components/Menus/BurgerMenu/index.tsx
  examples/test-site/src/components/Menus/token.tsx
Labels: help wanted

#131 docs(bodiless-documentation): Add Site Build Guide
  packages/bodiless-documentation/doc/Development/Guides/BuildingSites/BuildingOverview.md
  packages/bodiless-documentation/doc/Development/Guides/BuildingSites/ComponentsStarterKit.md
  packages/bodiless-documentation/doc/Development/Guides/BuildingSites/Fonts.md
  packages/bodiless-documentation/doc/Development/Guides/BuildingSites/IdentifyingComponentsGuide.md
  packages/bodiless-documentation/doc/Development/Guides/BuildingSites/README.md
  packages/bodiless-documentation/doc/Development/Guides/BuildingSites/TailwindGuide.md
Labels: documentation
